<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Aplicația are nevoie de acces la cameră pentru a scana coduri QR.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Are nevoie pentru crearea reastaurantului</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Aplicația are nevoie de acces la locația ta pentru a găsi restaurantele din apropiere.</string>
</dict>
</plist>
